:host {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff0f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}

.btn-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 2rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.95);
  }
}

.btn-yes {
  background-color: #ff4d6d;
  color: white;
  -size: 1.5rem;
  position: relative;
}

.btn-no {
  background-color: #adb5bd;
  color: white;
  transition: all 0.1s ease;
  position: relative;
}

.fade-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.typing-effect {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #ff4d6d; //cursor
  white-space: nowrap; //keeps the text on one line
  margin: 0 auto;
  letter-spacing: 0.15em;
  max-width: 100vw;
  font-size: clamp(1.3rem, 5vw, 3rem);

  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff4d6d;
  }
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  color: #ff4d6d;
  opacity: 0.7;
  width: 100%;
}
